# Ansible AWX / AAP
AWX_URL=http://localhost:8052
AWX_TOKEN=your-personal-access-token
# AWX_USERNAME=admin
# AWX_PASSWORD=changeme
AWX_DEFAULT_JOB_TEMPLATE_ID=7
AWX_DEPLOY_TEMPLATE_ID=7
# AWX_DEMO=true

# Bridge (Backstage / curl gọi vào đây)
BRIDGE_HOST=127.0.0.1
BRIDGE_PORT=8090
BRIDGE_API_KEY=dev-bridge-key-change-me

# Backstage catalog
BACKSTAGE_ORG=default
BACKSTAGE_SYSTEM=platform
